<h1>Listas de Tareas</h1>

<%= turbo_frame_tag "new_todo_list" do %>
  <%= render "todo_lists/form", todo_list: @todo_list %>
<% end %>

<ul id="todo_lists">
  <% @todo_lists.each do |todo_list| %>
    <%= render "todo_lists/todo_list", todo_list: todo_list %>
  <% end %>
</ul>
